.button {
  pointer-events: auto;
  display: block;
  min-width: 60px;
  max-width: fit-content;
  text-align: center;
  font-family: "Zain", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  border-color: hsla(var(--border));
  border-radius: var(--radius);
  border-width: 2px;
  border-style: inset;
  background-color: hsla(var(--secondary) / 0.5);
  color: hsla(var(--secondary-foreground));
  cursor: pointer;
  transition:
    background-color 0.2s,
    color 0.2s,
    box-shadow 0.2s,
    border-width 0.2s;
  text-decoration: none;
  white-space: nowrap;
  box-shadow: hsla(var(--secondary)) 0 0 10px;
}

.button:hover {
  background-color: hsla(var(--secondary));
  color: hsla(var(--secondary-foreground));
  box-shadow: hsla(var(--secondary)) 0 0 20px;
}

.button.cta {
  min-width: 90px;
  background-color: hsla(var(--primary) / 0.8);
  color: hsla(var(--primary-foreground));
}

.button.cta:hover {
  background-color: hsla(var(--primary));
  color: hsla(var(--primary-foreground));
  box-shadow: hsla(var(--primary)) 0 0 20px;
}

.button.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  width: 40px;
  height: 40px;
  min-width: unset;
  padding: 0;
  background-color: hsla(var(--background));
}

.button.icon.small {
  width: 30px;
  height: 30px;
}

.button.icon:hover {
  background-color: hsla(var(--secondary) / 0.5);
}

.button.icon svg,
.button.icon img {
  width: 25px;
  height: 25px;
}

.button.icon.small svg,
.button.icon.small img {
  width: 15px;
  height: 15px;
}

.link {
  pointer-events: auto;
  cursor: pointer;
  color: hsla(var(--primary));
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: hsla(var(--primary-foreground));
}

.link:active {
  color: hsla(var(--primary) / 0.9);
}
