.card {
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: hsla(var(--card) / 0.7);
  backdrop-filter: blur(10px);
  border-radius: var(--radius);
  border-width: 2px;
  border-bottom-color: hsla(var(--secondary-foreground));
  border-right-color: hsla(var(--primary));
  border-bottom-style: solid;
  border-right-style: solid;
  padding: 40px;
  box-shadow:
    hsla(var(--primary)) 50px 80px 300px,
    hsla(var(--primary-foreground)) -50px -80px 300px;
  transition:
    box-shadow 1s ease-in-out,
    border-bottom-color 0.5s ease-in-out,
    backdrop-filter 0.5s ease-in-out;
  min-width: min-content;
  max-width: 100vw;
  width: max-content;
  max-height: 100svh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.card:hover {
  box-shadow: hsla(var(--primary)) 0 0 150px;
  border-bottom-color: hsla(var(--primary));
  backdrop-filter: blur(50px);
}
