.light {
  position: absolute;
  offset-path: padding-box;
  opacity: 0;
  background-color: hsla(var(--primary));
  box-shadow: hsla(var(--primary)) 0 0 10px;
  pointer-events: none;
  width: 20%;
  min-width: 20px;
  height: 3px;
  border-radius: 50%;
  transition: opacity 0.5s ease-out;
  animation: box-light 3s infinite linear;
}

.light.opposed {
  offset-distance: 50%;
  animation: box-light-opposed 3s infinite linear;
  background-color: hsla(var(--primary-foreground));
  box-shadow: hsla(var(--primary-foreground)) 0 0 10px;
}

.button .light {
  width: 30px;
  animation: box-light 1s infinite linear;
}

.button.cta .light {
  background-color: hsla(var(--primary-foreground));
  box-shadow: hsla(var(--primary-foreground)) 0 0 10px;
}

*:hover > .light {
  opacity: 1;
}

@keyframes box-light {
  0% {
    offset-distance: 0;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes box-light-opposed {
  0% {
    offset-distance: 50%;
  }
  50% {
    offset-distance: 100%;
  }
  100% {
    offset-distance: 150%;
  }
}

@media (width <= 768px) {
  .button.cta .light {
    opacity: 1;
  }
}
