* {
  box-sizing: border-box;
}

body {
  background-color: hsla(var(--background));
  color: hsla(var(--foreground));
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 0;
  padding: 0;
  min-height: 100svh;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0.1rem 0.5rem;
}

a {
  pointer-events: auto;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin-top: 0;
  @apply font-changa;
}

hr {
  @apply border-none;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

code {
  display: inline-block;
  white-space: nowrap;
  @apply font-mono;
}

@media (width <= 768px) {
  .md {
    display: none;
  }
}

@media (height > 768px) {
  body {
    overflow: hidden;
  }
}
