@import url('https://api.fonts.coollabs.io/css2?family=Changa:wght@700&family=Zain:wght@300&display=swap');

.changa, h1, h2, h3, h4, h5, h6 {
  font-family: "Changa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.zain, p, span, a, li, button {
  font-family: "Zain", sans-serif;
  font-weight: 300;
  font-style: normal;
}