/*@import url("https://api.fonts.coollabs.io/css2?family=Changa:wght@700&family=Zain:wght@300&display=swap&family=New+Amsterdam");*/
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@700&family=Zain:wght@300&display=swap&family=New+Amsterdam");

@import "core/reset.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 281 100% 89%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  /* Game */

  :root {
    --action: 221 83% 53%;
    --action-foreground: 0 0% 94%;
    --support: 213 100% 70%;
    --support-foreground: 213 100% 10%;
    --energy: 262.1 83.3% 57.8%;
    --energy-foreground: 210 20% 98%;
    --reputation: 292 84% 61%;
    --reputation-foreground: 210 20% 98%;
    --money: 155 100% 23%;
    --money-foreground: 0 0% 94%;
    --upgrade: 40 100% 45%;
    --upgrade-foreground: 210 20% 98%;
    --image-foil: 293 100% 60%;
    --day: 150 100% 54%;
    --day-foreground: 0 0% 0%;
    --inflation: 0 74% 60%;
    --inflation-foreground: 0 0% 100%;

    --game-auto-speed: 500ms;
    --game-speed: var(--game-auto-speed);
  }

  .dark {
    --action: 221 83% 53%;
    --action-foreground: 0 0% 94%;
    --support: 213 100% 85%;
    --support-foreground: 213 100% 2%;
    --energy: 262.1 83.3% 57.8%;
    --energy-foreground: 210 20% 98%;
    --reputation: 292 84% 61%;
    --reputation-foreground: 210 20% 98%;
    --money: 166 91% 9%;
    --money-foreground: 0 0% 94%;
    --upgrade: 38 92% 50%;
    --upgrade-foreground: 210 20% 98%;
    --image-foil: 320 100% 88%;
    --day: 150 100% 54%;
    --day-foreground: 0 0% 0%;
  }

  .light .theme-fire {
    --primary: 31 100% 53%;
    --energy: 31 100% 53%;
    --reputation: 3 100% 53%;
    --day: 62 100% 53%;
    --upgrade: 334 100% 53%;
  }

  .light .theme-dirt {
    --primary: 24 60% 40%;
    --energy: 61 48% 35%;
    --energy-foreground: 0 0% 100%;
    --reputation: 139 48% 35%;
    --reputation-foreground: 0 0% 100%;
    --day: 30 40% 53%;
    --day-foreground: 0 0% 100%;
    --upgrade: 30 100% 53%;
    --action: 24 57% 55%;
    --support: 24 35% 67%;
  }

  .dark .theme-fire {
    --primary: 31 100% 53%;
    --energy: 31 100% 53%;
    --reputation: 3 100% 53%;
    --day: 62 100% 53%;
    --upgrade: 334 100% 53%;
  }

  .dark .theme-dirt {
    --primary: 24 60% 40%;
    --energy: 61 48% 67%;
    --energy-foreground: 224 71.4% 4.1%;
    --reputation: 139 48% 67%;
    --reputation-foreground: 224 71.4% 4.1%;
    --day: 35 80% 45%;
    --day-foreground: 224 71.4% 100%;
    --upgrade: 30 100% 53%;
    --action: 24 57% 35%;
    --support: 24 35% 67%;
  }

  @font-face {
    font-family: "Changa", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
