.game-card {
  @apply text-lg leading-4;
}
.game-card.idle {
  opacity: 1;
  scale: 1;
  top: 0;
}
.game-card.playing {
  animation: play var(--game-speed) ease-in-out forwards;
}
.game-card.discarding {
  animation: drop var(--game-speed) ease-in-out forwards;
}
.game-card.drawing {
  animation: draw var(--game-speed) ease-in-out forwards;
}
.game-card.unauthorized {
  animation: unauthorized var(--game-speed) ease-in-out forwards;
}
.game-card.removing {
  animation: disappear var(--game-speed) ease-out forwards;
}
.game-card.landing {
  animation: landing var(--game-speed) ease-in-out forwards;
}
.game-card.transforming {
  animation: transforming var(--game-speed) linear forwards;
}

.inset-shadow:after {
  box-shadow: inset 0 0 15px 0 black;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes draw {
  0% {
    opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes drop {
  0% {
    opacity: 1;
    scale: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    scale: 0;
    top: 50px;
  }
}

@keyframes play {
  0% {
    opacity: 1;
    scale: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    scale: 1.5;
    top: -50px;
  }
}

/* Shake the card and apply red filter temporary, then return to original state */
@keyframes unauthorized {
  0% {
    margin-left: 0;
    opacity: 1;
    scale: 1;
    top: 0;
  }
  20% {
    margin-left: -5px;
    filter: grayscale(1);
  }
  40% {
    margin-left: 8px;
    filter: grayscale(1);
  }
  50% {
    margin-left: -10px;
    filter: grayscale(1);
  }
  60% {
    margin-left: 8px;
    filter: grayscale(1);
  }
  80% {
    margin-left: -5px;
    filter: grayscale(1);
  }
  100% {
    margin-left: 0;
    opacity: 1;
    scale: 1;
    top: 0;
  }
}

/* move to the center */
@keyframes landing {
  0% {
    opacity: 0;
    scale: 1.5;
    top: -50px;
  }
  100% {
    opacity: 1;
    scale: 1;
    top: 0;
  }
}

/* become totally white */
@keyframes transforming {
  0% {
    filter: brightness(100%);
    scale: 1;
  }
  50% {
    filter: brightness(300%);
    scale: 1.1;
  }
  100% {
    filter: brightness(100%);
    scale: 1;
  }
}

/* SVG broken card */

#ei4vTKagxuI2_to {
  animation: ei4vTKagxuI2_to__to var(--game-speed) linear 1 normal forwards;
}
@keyframes ei4vTKagxuI2_to__to {
  0% {
    offset-distance: 0;
    animation-timing-function: cubic-bezier(1, -0.02, 1, 1);
  }
  40% {
    offset-distance: 100%;
  }
  100% {
    offset-distance: 100%;
  }
}
#ei4vTKagxuI3_to {
  animation: ei4vTKagxuI3_to__to var(--game-speed) linear 1 normal forwards;
}
@keyframes ei4vTKagxuI3_to__to {
  0% {
    offset-distance: 0;
  }
  20% {
    offset-distance: 0;
    animation-timing-function: cubic-bezier(0.765, 0.005, 1, 1);
  }
  70% {
    offset-distance: 100%;
  }
  100% {
    offset-distance: 100%;
  }
}
#ei4vTKagxuI4_to {
  animation: ei4vTKagxuI4_to__to var(--game-speed) linear 1 normal forwards;
}
@keyframes ei4vTKagxuI4_to__to {
  0% {
    offset-distance: 0;
  }
  50% {
    offset-distance: 0;
    animation-timing-function: cubic-bezier(0.635, 0.01, 1, 1);
  }
  100% {
    offset-distance: 100%;
  }
}
