.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  min-width: min-content;
  max-width: 100vw;
  max-height: 100svh;
}

.card {
  background-color: hsla(var(--card) / 0.7);
  backdrop-filter: blur(30px);
  border-radius: var(--radius);
  border-width: 2px;
  border-bottom-color: hsla(var(--secondary-foreground));
  border-right-color: hsla(var(--primary));
  border-bottom-style: solid;
  border-right-style: solid;
  padding: 40px;
  box-shadow:
    hsla(var(--primary)) 50px 80px 300px,
    hsla(var(--primary-foreground)) -50px -80px 300px;
  transition:
    box-shadow 1s ease-in-out,
    border-bottom-color 0.5s ease-in-out,
    backdrop-filter 0.5s ease-in-out;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.card:hover {
  box-shadow: hsla(var(--primary)) 0 0 150px;
  border-bottom-color: hsla(var(--primary));
  backdrop-filter: blur(10px);
}

@media (height <= 768px) {
  .center:not(.big) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (width <= 768px) {
  .center {
    left: 0;
    top: 0;
    transform: none;
    width: 100%;
    height: 100svh;
  }

  .card {
    pointer-events: auto;
    border-radius: 0;
  }
}

@media (height <= 768px) and (width > 768px) {
  .center {
    top: 0;
    transform: translate(-50%, 0);
    height: 100svh;
  }

  .card {
    pointer-events: auto;
    overflow-y: scroll;
  }
}
